@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Oswald:wght@200..700&family=Tagesschrift&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

          
         @font-face {
            font-family: 'Romul';
            src: url('/src/assets/font/Romul.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            font-family: 'Maglio';
            src: url('/src/assets/font/Magilio.otf') format('truetype');
            font-weight: normal;
            font-style: normal;


          }
          
} 
  